<header class="w-screen flex justify-center items-center">
  <a href="/">
    <img src={~p"/images/logo.svg"} width="250" />
  </a>
</header>
<main>
    <%= @inner_content %>
</main>
<footer class="text-center py-4 text-gray-500">© 2024 CognitUs</footer>
